
/*

.accordion {
    --bs-accordion-active-bg: var(--primaryColor)!important;
    --bs-accordion-active-color: var(--secondaryColor)!important;
    --bs-accordion-bg: var(--primaryColor)!important;
    --bs-accordion-color: var(--secondaryColor)!important;
    --bs-accordion-border-radius: 10px !important; 
}
.accordion-button {
    color:var(--secondaryColor)!important; 
}
.accordion-flush, .accordion-item, .accordion-button, .accordion-flush, .accordion-item, .accordion-button.collapsed  {
    border-radius: 10px !important; 
}

.accordion-button:focus {
box-shadow: none !important;
}
.accordion-item {
background-color: var(--primaryColorClair) !important;

}
.accordion-button:not(.collapsed)::after {
    background-image: url(../../ASSETS/IMAGES/Icons/chevron-up-solid-gold-r.webp)!important;

}
.accordion-button::after { 
    background-image: url(../../ASSETS/IMAGES/Icons/chevron-up-solid-gold-r.webp)!important;

}*/
/*
.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-color) !important;
     --bs-accordion-btn-icon: url(../ASSETS/IMAGES/Icons/chevron-up-solid.svg)!important;
}



*/