.galleryInstructorDojo {
    display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-top: 15px;
margin-bottom: 15px;

}

.dojoShedules {
    background-color: transparent;
   width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.dojoShedules li:first-child {
    font-weight: 800;
}