.galleryInstructorDojo {
    display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-top: 15px;
margin-bottom: 15px;
max-width: 90%;
margin-left: auto;
margin-right: auto;
}
.galleryInstructorDojoCard {
    margin-left: 0;
    margin-right: 0;
    }


.dojoShedules {
    background-color: transparent;
   width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.dojoShedules li:first-child {
    font-family: Baskerville;
    font-weight: 600 !important;
    font-size: 19px;
}
.dojoContact {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}
.dojoContact li:first-child {
    font-family: Baskerville;
    font-weight: 600 !important;
    font-size: 19px;
}
.dojoContactH3, .dojoShedulesH3 {
    display: flex;
    justify-content: flex-start;
    font-size: 19px;
    margin-bottom: 0;
    font-family: Baskerville;
    font-weight: 600 !important;
}
.googleMap {
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}
.dojoAdress {
display: flex;
justify-content: center;

}

@media all and (max-width: 768px) {  
    .galleryInstructorDojo {
        flex-wrap: wrap;
        width: 80%;
    }
    .galleryInstructorDojoCard {
        margin-left: 8px!important;
        margin-right: 8px!important;
        }
}

