.DojoGallery {
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
.dojosCard {
    margin: 18px;
    width: 18rem;
}

a {
    text-decoration: none;
}

.dojoCardTitle {
    font-weight: 800;
    color: var(--primaryColor);
}
.dojoCardInstructeur {
    color: black;
    font-weight: 600;
    margin-bottom: 8px;
}
.btn-primary {
    background-color: var(--primaryColor);
    border-color: brown;
    float: right;
}
.dojoTown {
    color: var(--tertiaryColor);
}