.senseiCarrousel {
    height: 400px !important;
    width: 750px;
    max-width: 100%;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

}
.senseiCarrouselImg {
    margin-right: auto;
    margin-left: auto;
}
.senseiModuleCarrousel {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

.karatekaGallery {
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
.karatekaCard {
    margin: 18px;
    width: 18rem;
}

a {
    text-decoration: none;
}

.karatekaCardName {
    font-weight: 800;
    color: var(--primaryColor);
}
.karatekaRank {
    color: black;
    font-weight: 600;
    margin-bottom: 8px;
}








@media all and (max-width: 925px) {
    .senseiCarrousel {
       
        height: auto!important;
    }
}
