header {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header div {
    display: flex;
    justify-content: center;
  }
  .logoSkifB {
    width: 153px;
    height: 150px;
    margin: 5px auto 5px auto;
    display: block;
  }
  .skifb {
    text-align: center;
    justify-content: center;
    font-size: 40px;
    margin: 10px auto 10px auto;
    display: flex;
    flex-direction: row;
  }
  .skifb p {
    margin: 5px 0 5px 0;
  }
  .colorBlack {
    color: black;
  }
  .colorGold {
    color:#9E880B;
  }
  .colorRed {
    color: #B80205;
  }


  @media all and (min-width: 768px) {  
    
    .enTete {
      display: flex;
      max-width: 90%;
      width: 1000px;
      margin: 0 auto 0 auto;
      justify-content: center;
    }
    .skifb {
      align-self: center;
      font-size: 60px;

    } 

    
   }