.dojoClubCarrousel {
    height: 400px !important;
    width: 750px;
    max-width: 100%;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

}
.carrouselImg {
    margin-right: auto;
    margin-left: auto;
}
.moduleCarrousel {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

@media all and (max-width: 925px) {
    .dojoClubCarrousel {
       
        height: auto!important;
    }
}
